<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=1, initial-scale=1, maximum-scale=1">
    <title>MoveMyMusic</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body class="moveMyMusicApp container">
<section class="row provider-login">
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="source">source</label>
                    <select name="source" id="source" class="form-control" v-model="source.name">
                        <option v-for="provider in providers" :value="provider.value">{{ provider.text }}</option>
                    </select>
                    <button v-if="!loginStatus(source.name)" class="btn btn-block" @click="login(source.name)">LOGIN
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="target">target</label>
                    <select name="target" id="target" class="form-control" v-model="target.name">
                        <option v-for="provider in providers" :value="provider.value">{{ provider.text }}</option>
                    </select>
                    <button v-if="!loginStatus(target.name)" class="btn btn-block" @click="login(target.name)">LOGIN
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button v-if="loginStatus(source.name) || loginStatus(target.name)" class="btn btn-block"
                        @click="fetchPlaylist()">FETCH
                </button>
            </div>
        </div>
    </div>
</section>

<section class="row fetch-playlists">
    <div v-if="source.playlists.length" class="col-md-5">
        <h3>{{ source.name }}</h3>
        <section class="playlist">
            <ul class="list-group">
                <li class="list-group-item media" v-for="playlist in source.playlists">
                    <span class="badge">move</span>
                    <span class="badge">hide</span>
                    <div class="media-left">
                        <a href="#"><img src="{{ playlist.picture }}" alt="" class="media-object"></a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{ playlist.title }}</h4>
                        <span class="label label-primary">{{ playlist.tracks }} tracks</span>
                    </div>
                </li>
            </ul>
        </section>
    </div>

    <div class="col-md-2">

    </div>

    <div v-if="target.playlists.length" class="col-md-5">
        <h3>{{ target.name }}</h3>
        <section class="playlist">
            <ul class="list-group">
                <li class="list-group-item media" v-for="playlist in target.playlists">
                    <div class="media-left">
                        <a href="#"><img src="{{ playlist.picture }}" alt="" class="media-object"></a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{ playlist.title }}</h4>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</section>

<section class="row">
    <div class="col-md-8 col-md-offset-4">

    </div>
</section>

<div class="debug-bar navbar-fixed-bottom">
    <pre>{{ $data | json }}</pre>
</div>

<div id="dz-root"></div>
<script src="assets/vendors/vue/dist/vue.min.js"></script>
<script src="assets/vendors/vue-resource/dist/vue-resource.min.js"></script>
<script src="//e-cdn-files.deezer.com/js/min/dz.js"></script>
<script src="assets/js/script.js"></script>
</body>
</html>